<div class="form-group col-sm-3">
  <select class="form-control" name="category" [(ngModel)]="selected1">
      <option *ngFor="let rates of result | keyvalue" value="{{rates.value}}">{{rates.key}}</option>
  </select>
</div>
<div class="form-group col-sm-3">
  <select class="form-control" name="category1" [(ngModel)]="selected2">
      <option *ngFor="let rates of result | keyvalue" value="{{rates.value}}">{{rates.key}}</option>
  </select>
</div>

<button (click)="convertedData()">Convert</button>
<div class="col-sm-12">
  {{currentValue}}
</div>
