<div class="container">
    <div class="row center-block">
        <div class="col-md-12">
            <h3>Forgot Password</h3>
         </div>
         <div class="col-md-12" *ngIf="!token">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email *" name="emailLink" #emailLink="ngModel" [(ngModel)]="email"/>
              </div>
              <button type="submit" class="btnRegister" (click)="emailSubmit()">Submit</button>
          </div> 
          <div class="col-md-12" *ngIf="token">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Create New Password *" name="creartpass" #creartpass="ngModel" [(ngModel)]="password"/>
                </div>
                <button type="submit" class="btnRegister" (click)="createPassword()" >Submit</button>
        </div> 
    </div>
</div>